In [52]:
import tensorflow as tf

In [53]:
# Creating random DataSet for general Sales number

daily_sales_numbers = [23,15,-120, 21, 55, 32,98,12]

In [54]:
tf_dataset = tf.data.Dataset.from_tensor_slices(daily_sales_numbers)
tf_dataset

In [55]:
for items in tf_dataset.as_numpy_iterator():
#for items in tf_dataset:
    print(items)
    # You can also convert these objects into number by using Numpy library
    #print(items.numpy())

23
15
-120
21
55
32
98
12

In [56]:
# taking 1st three elements from dataset 

for items in tf_dataset.take(3):
    print(items.numpy())

23
15
-120

In [57]:
# Filter out -ve data points or correcting the negative values

tf_dataset = tf_dataset.filter(lambda x:x>0)
for items in tf_dataset.as_numpy_iterator():
    print(items)

23
15
21
55
32
98
12

In [58]:
# For examples the above sales prices are in Dollars we want to convert these numbers into PKR
# $1 = 288 pkr

tf_dataset = tf_dataset.map(lambda x: x*288)
for items in tf_dataset.as_numpy_iterator():
    print(items)

6624
4320
6048
15840
9216
28224
3456

In [59]:
# For randomly shuffling dataset , especially it will for image dataset

tf_dataset = tf_dataset.shuffle(3)
for items in tf_dataset.as_numpy_iterator():
    print(items)

6624
4320
15840
28224
6048
9216
3456

In [60]:
# Batching the dataset

for items_batch in tf_dataset.batch(4):
    print(items_batch.numpy())

[ 6624 15840  4320 28224]
[9216 6048 3456]

In [61]:
# Doing the above things in one line

tf_dataset = tf.data.Dataset.from_tensor_slices(daily_sales_numbers)

tf_dataset = tf_dataset.filter(lambda x:x>0).map(lambda y: y*288).shuffle(3).batch(2)

for items in tf_dataset.as_numpy_iterator():
    print(items)

[ 4320 15840]
[6624 6048]
[28224  3456]
[9216]

In [62]:
# Building Tensorflow pipeLine

images_ds = tf.data.Dataset.list_files('images/*/*', shuffle=False)

for files in images_ds.take(5):
    print(files)

tf.Tensor(b'images\\cat\\20 Reasons Why Cats Make the Best Pets....jpg', shape=(), dtype=string)
tf.Tensor(b'images\\cat\\7 Foods Your Cat Can_t Eat.jpg', shape=(), dtype=string)
tf.Tensor(b'images\\cat\\A cat appears to have caught the....jpg', shape=(), dtype=string)
tf.Tensor(b'images\\cat\\Adopt-A-Cat Month\xc2\xae - American Humane....jpg', shape=(), dtype=string)
tf.Tensor(b'images\\cat\\All About Your Cat_s Tongue.jpg', shape=(), dtype=string)

In [63]:
# Shuffle Dataset

images_ds = images_ds.shuffle(200)

for files in images_ds.take(5):
    print(files.numpy())

b'images\\dog\\The US Army is testing augmented....jpg'
b'images\\dog\\Subaru Shows Love for Dogs Through the....jpg'
b'images\\dog\\2nd pet dog tests positive for COVID-19....jpg'
b'images\\dog\\Cats and Dogs.jpg'
b'images\\dog\\Trained dogs can smell coronavirus in....jpg'

In [64]:
# Classes name

classes_name = ['cat','dog']

In [65]:
# For training purpose we have to split the images, in TF we use take function for this purpose

image_count = len(images_ds)
image_count

130

In [66]:
# Now dividing the dataset in to tarining 80% and testing 20%

train_size = int(image_count*0.8)

train_ds = images_ds.take(train_size) # It will take 80% of dataset and rest skip the 20% of dataset
test_ds = images_ds.skip(train_size)

In [67]:
len(train_ds)

104

In [68]:
len(test_ds)

26

In [69]:
# In the  image path we already have class label, now we have to retrive that label from string

s = 'images\\dog\\Science_ Talking to Your Dog Means You....jpg'

s.split("\\")[-2]

'dog'

In [70]:
def get_label(file_path):
    import os 
    return tf.strings.split(file_path, os.path.sep)[-2]

In [71]:
# To get X_train part

def process_image(file_path):
    label = get_label(file_path)
    
    img = tf.io.read_file(file_path)
    img = tf.image.decode_jpeg(img)
    img = tf.image.resize(img, [128,128])
    
    return img, label

In [72]:
for t in train_ds.take(4):
    print(t.numpy())

b'images\\dog\\Rescue turns dog with untreatable tumor....jpg'
b'images\\cat\\Cat Advice _ Collecting a Urine Sample....jpg'
b'images\\dog\\Maltese Dog Breed Information_ Pictures....jpg'
b'images\\dog\\10 Teacup Dog Breeds for Tiny Canine Lovers.jpg'

In [73]:
train_ds = train_ds.map(process_image)
for img, label in train_ds.take(3):
    print("Image: ",img)
    print("Label: ",label)

Image:  tf.Tensor(
[[[178.7539   185.7539   143.7539  ]
  [185.875    195.875    161.03125 ]
  [185.9375   195.9375   160.98828 ]
  ...
  [194.875    199.46875  170.6875  ]
  [193.01953  197.01953  172.01953 ]
  [189.5039   195.       162.34766 ]]

 [[172.03125  184.28125  140.65625 ]
  [189.15625  200.       170.46875 ]
  [180.96484  190.96484  156.96484 ]
  ...
  [192.6289   197.22266  168.4414  ]
  [195.0586   199.0586   174.0586  ]
  [186.71875  195.71875  167.96875 ]]

 [[176.38672  187.01172  148.13672 ]
  [185.6836   196.52734  166.9961  ]
  [180.375    191.03516  155.1914  ]
  ...
  [195.15234  199.15234  172.66016 ]
  [195.47266  199.47266  176.47266 ]
  [188.10547  196.10547  173.10547 ]]

 ...

 [[160.53516  178.71484   97.796875]
  [145.14062  153.9336    98.49609 ]
  [144.71484  167.625     96.85156 ]
  ...
  [176.8164   186.72656  137.9336  ]
  [170.52734  175.83984  125.453125]
  [180.66406  188.3125   146.8164  ]]

 [[187.2539   198.08594  133.66797 ]
  [170.67969  189.52344  143.73828 ]
  [192.07812  211.64844  166.3789  ]
  ...
  [160.76172  171.3164   128.46875 ]
  [161.66016  170.13281  122.078125]
  [197.05469  202.23047  170.6289  ]]

 [[173.41016  197.25     121.03125 ]
  [186.64844  197.66016  167.95312 ]
  [141.54297  162.17188  110.375   ]
  ...
  [159.625    165.10547  126.52344 ]
  [168.08203  176.92578  132.33984 ]
  [185.53125  190.5      158.78125 ]]], shape=(128, 128, 3), dtype=float32)
Label:  tf.Tensor(b'dog', shape=(), dtype=string)
Image:  tf.Tensor(
[[[ 97.74292    172.85962     79.62549   ]
  [ 87.83276    148.18213     61.214844  ]
  [ 74.36719    131.53491     36.268066  ]
  ...
  [122.23413    180.99219    103.44507   ]
  [104.08423    174.91797     84.8938    ]
  [106.85376    169.21973     73.67334   ]]

 [[ 68.72656    154.07812     41.898438  ]
  [ 89.89624    167.39062     63.489502  ]
  [103.12207    165.57031     64.660645  ]
  ...
  [ 96.427734   170.07178     56.606934  ]
  [ 89.59717    166.03247     46.940918  ]
  [ 94.65747    167.0332      55.45117   ]]

 [[ 92.49219    166.92188     62.307373  ]
  [ 84.176025   166.91016     58.910156  ]
  [ 89.89673    168.39111     64.90796   ]
  ...
  [112.346436   173.46753     50.69409   ]
  [ 88.38696    168.92236     37.83252   ]
  [ 94.752686   168.67847     45.545654  ]]

 ...

 [[ 82.63599    198.73193     53.773926  ]
  [ 98.16431    172.1748      50.327637  ]
  [ 79.66797    130.45288     25.256104  ]
  ...
  [ 64.49194    136.80054     40.491943  ]
  [ 52.796143   152.5586      10.031006  ]
  [ 83.88965    185.70337     23.946777  ]]

 [[103.68091    198.77466     62.146484  ]
  [ 17.034424   102.47925      0.        ]
  [ 41.47534    108.572266     0.        ]
  ...
  [ 73.913574   131.22144     19.628662  ]
  [ 81.04834    162.2793      27.116455  ]
  [ 92.48511    174.66309     13.7146    ]]

 [[ 79.02222    158.93652     11.35791   ]
  [ 78.73071    162.71509     23.01123   ]
  [ 71.038086   147.4729       0.49438477]
  ...
  [ 28.910889    97.86548      0.80078125]
  [ 92.84375    177.49219     87.26953   ]
  [ 69.119385   143.89673      1.8654785 ]]], shape=(128, 128, 3), dtype=float32)
Label:  tf.Tensor(b'cat', shape=(), dtype=string)
Image:  tf.Tensor(
[[[132.78125  177.59375  225.40625 ]
  [122.5625   172.78125  224.21875 ]
  [114.       171.       226.      ]
  ...
  [103.04468  168.98218  229.01343 ]
  [ 98.093994 167.094    226.094   ]
  [ 95.17456  163.17456  224.17456 ]]

 [[130.47632  177.28882  226.28882 ]
  [120.5625   172.       225.21875 ]
  [112.       169.       224.      ]
  ...
  [107.00903  169.00903  230.00903 ]
  [102.       168.       228.      ]
  [ 97.       166.       225.      ]]

 [[127.693115 176.50562  226.31812 ]
  [119.40869  172.74878  227.21875 ]
  [112.       169.       224.      ]
  ...
  [109.03125  170.96875  232.      ]
  [105.       169.       230.      ]
  [ 99.       168.       225.      ]]

 ...

 [[154.625    140.08813   95.109375]
  [111.37378  122.52222   83.11597 ]
  [116.57495  129.66406   73.778076]
  ...
  [145.71387  150.06396   62.94214 ]
  [145.00269  159.23047   79.99365 ]
  [102.4353   126.84155   37.392822]]

 [[169.67188  159.14844  101.71094 ]
  [164.8352   164.62427  101.55469 ]
  [109.82202  125.54199   55.013184]
  ...
  [135.93457  146.73022   52.067383]
  [146.57812  152.83667   76.09302 ]
  [112.3208   133.3208    40.3208  ]]

 [[187.24756  171.50269  111.29443 ]
  [190.61768  175.28906  100.71094 ]
  [115.836914 128.42065   50.638184]
  ...
  [122.07788  130.56567   46.447266]
  [189.9458   185.18774  111.29004 ]
  [116.55713  134.39307   30.312256]]], shape=(128, 128, 3), dtype=float32)
Label:  tf.Tensor(b'dog', shape=(), dtype=string)

In [74]:
# Scale images

def scale(image, label):
    return image/255, label

In [75]:
train_ds = train_ds.map(scale)

for image, label in train_ds.take(5):
    print("*****Image: ", image.numpy()[0][0])
    print("*****Label: ", label.numpy())

*****Image:  [0.14411765 0.14019608 0.1637255 ]
*****Label:  b'dog'
*****Image:  [0.85505515 0.85505515 0.85505515]
*****Label:  b'cat'
*****Image:  [0.99607843 0.99607843 0.99607843]
*****Label:  b'dog'
*****Image:  [0.6349581 0.6433053 0.6313726]
*****Label:  b'dog'
*****Image:  [0.627451   0.5176471  0.42352942]
*****Label:  b'cat'